.about-main-content{
	height: 2000px;
	@include page-title;
	.image-container{
		position: relative;
		margin: 20px auto;
		overflow: hidden;
		width: 80%;
		height: 200px;
		border-radius: 8px;
		img{
			width: 100%;
		}
	}
	p{
		padding: 10px 20px;
		text-align: justify;
		text-justify: distribute;
	}
}