.page-title{
	position: relative;
	//top: 20px;
	height: 60px;
	width: 100%;
	background: white;
	box-shadow: 0 2px 3px -2px rgba(100,100,100, 0.8);
	z-index: 2;
	h1{
		width: 80%;
		font-weight: 200;
		text-shadow: 2px 2px 3px rgba(100,100,100, 0.5);
		text-align: right;
		padding: 5px 0 0;
		margin: 0 20px 0 auto;
	}
}
.gallery-block{
	width: 100%;
	position: relative;
	overflow: hidden;
	.gallery-item{
		.image-container{
			position: relative;
			width: 100%;
			height: 190px;
			background: $accentColor;
			z-index: 1;
			img{
				width: 100%;
				height: auto;
				opacity: 0.6;
				transition: opacity 0.3s ease;
				z-index: 1;
			}
		}
		.description{
			position: relative;
			width: 100%;
			height: 100px;
			margin: 0;
			padding: 5px 0 0;
			background: white;
			box-shadow: 0 2px 3px -2px rgba(100,100,100, 0.8), 
						0 -3px 3px -2px rgba(100,100,100, 0.8);
			z-index: 3;
			h2{
				position: absolute;
				top: -50px;
				right: 20px;
				font-size: 1.6rem;
				font-weight: 300;
				text-shadow: 2px 2px 3px $mainColor;
				text-align: justify;
				color: white;
				margin: 0 10px;
				transition: 0.3s ease;
			}
			p{
				margin: 0;
				padding: 10px;
			}
		}
		&:hover .image-container{
			& img {
				opacity: 1;
			}
			& ~ .description h2{
				transform-origin: 100% 100%;
				transform: scale(1.3);
			}
		}
	}
}